@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


/* p{
    margin: 25px;
} */
body {
  /* background-image: url('https://i.pinimg.com/736x/1a/bb/9a/1abb9a72e471d4ce46f1b5f06bc1f922.jpg'); */
  background-repeat: no-repeat;
  background-size: cover;
}

/* img {
    height: 200px;
    margin: 5px;
} */

body {
  background-image: url("../../assets/allTime.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#devBanner {
  border-radius: 25px;
  background-color: #f5f5f5;
  border: rgb(4, 41, 121) solid 5px;
}

/* * {
    text-align: center;
} */

#howBanner {
  background-color: #f5f5f5;
  border-radius: 25px;
  padding: 20px;
  width: fit-content;
  border: rgb(23, 25, 143) solid 6px;
}

#header {
  background-color: #f5f5f5;
  border: rgb(66, 60, 161) solid 6px;
  border-radius: 25px;
  margin: 25px;
  text-align: center;
  padding: 30px;
}
#descriptionLeft {
  margin-top: 10%;
  padding: 30px;
}
#devCards {
  margin: 10px;
  padding: 10px;
  /* border: rgb(43, 109, 209) solid 5px; */
  border-radius: 25px;
}
/* img{
    border: black 3px solid;
    border-radius: 25px;
} */

.devPics {
  height: 200px;
  border: black 3px solid;
  border-radius: 25px;
}

.icon {
  width: 50px;
  padding: 3px;
  margin: 1px;
  text-align: center;
  border: black 3px solid;
  border-radius: 25px;
}

.itWorks {
  text-decoration: underline;
  font-family: "Montserrat", sans-serif;
}

*{
    font-family: "Montserrat", sans-serif;

}

