.grid-container{
        display: grid;
        grid-column-gap: 75px;
        grid-template-columns: auto auto auto;
        padding: 10px;
        justify-content: center;

}
  .card {
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    justify-content: center;
  }

  .img{
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: darkgrey;
    color: white;
    opacity: 1;
  }

  .card-text{
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 14px;
    line-height: 1;;
  }