/* footer {
    margin-left: 40%;
    position: absolute;
    bottom: 0;
} */
/* #foot{
    position: absolute;
    bottom: 0;
} */
#foot{
    text-align: center;
    padding: 100px;
    background-color: rgb(75, 99, 128);
    color: white;
    margin-top: 100%;
  }