.signup {
  border-style: solid;
  border-color: rgb(23, 25, 143);;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  background-color: lightgray;
}

.login{
  border-style: solid;
  border-color: rgb(23, 25, 143);;
  border-radius: 10px;
}

.signupTitle {
  text-align: center;
}
