#messageUserlist:hover {
    background-color: lightgrey;
}

#messageUserlist:active {
    background-color: grey;
}

#messageUserlist:visited {
    background-color: grey;
}

#message-user {
    color: black;
}