#username {
    color: #edf0f1;
}
#logo {
    color: #edf0f1;
}

#link{
    color: #edf0f1;
}

#link:hover{
    color:black;
}






.navbar {
    
        background: radial-gradient(
          circle,
          rgb(27, 50, 167) 0%,
          rgb(72, 112, 192) 100%
        );
        border-bottom: solid 2px black;
      
    
}

#nav-icon {
  border: #edf0f1 3px solid;
  border-radius: 25px;
  margin: 1px;
}
