#username {
    color: black;
}

.navbar {
    background: radial-gradient(circle, rgb(27, 50, 167) 0%, rgb(72, 112, 192) 100%);
    border-bottom: solid 2px black;
}

#nav-icon{
   border: black 3px solid;
   border-radius: 25px;
   margin: 1px;
}